<div class="mt-4">
    <h3>
        POST COURSE
    </h3>
    <form method="POST" action="/courses/store">
        
        <div class="form-group">
            <label for="name">Coure's name</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" name="description">
        </div>

        <div class="form-group">
            <label for="vdID">Video Id</label>
            <input type="text" class="form-control" id="vdID" name="vdID">
        </div>

        <div class="form-group">
            <label for="level">Level</label>
            <input type="text" class="form-control" id="level" name="level">
        </div>

        
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</div>