<div>
<form method="POST" action="">
  <div class=" mt-4">
    <label for="search-input">Key</label>
    <input type="text" name="q" class="form-control" id="search-input" aria-describedby="Input key">
  </div>

  <div class=" mt-4">
    <label for="select-input">Key</label>
    <select name="gender" class="form-control" id="gender-input">
        <option value="">--- Selcet gender ---</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
     </select>
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form> 
</div>